* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.dark-icon,
.light-icon {
  position: fixed;
  inset: 1.5rem 3rem auto auto;
  font-size: 2rem;
  cursor: pointer;
}

.fa-solid.fa-sun {
  display: none;
}

.fa-solid.fa-arrow-up {
  position: fixed;
  bottom: 2rem;
  right: 3rem;
  color: black;
  font-size: 1rem;
  padding: 0.5rem 0.8rem;
  border: 5px solid black;
  border-radius: 8px;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s;
}

.fa-solid.fa-arrow-up:hover {
  background-color: white;
  border-color: lightblue;
}

.success {
  opacity: 0;
  filter: blur(1px);
  transition: 0.5s;
}

.animate-success {
  animation: shake 0.15s 2 alternate ease;
  filter: blur(0);
  opacity: 1;
}

.animate {
  animation: shake 0.25s 1 ease-in-out;
}

@keyframes shake {
  0%,
  40%,
  80% {
    transform: translateX(-10px);
  }
  20%,
  60% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
